<!doctype html>
<html>
  <head>
  </head>
  <body>
    <%= yield %>
  </body>
  </footer>
    <p>There are <%= @users.keys.size %> users with a total of <%= counter_interests %> interests.</p>
</html>